<!DOCTYPE html>
<html>
<head>
  <title>Udd</title>
  <%= stylesheet_link_tag    "udd/application", :media => "all" %>
  <%= javascript_include_tag "udd/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
